html{
    /*
    font-family:Arial,helvetica,sans-serif;
    */
    font-family:Arial,helvetica,sans-serif;
    font-size:90%;
}

body{
    margin:0px !important;
    background-color:#e8e8e8;
}

.full-screen{
    width:98vw;
    height:100vh;
}

.content{
    padding: 1%;
    margin-left: auto;
    margin-right:auto;
    width:95%;
    height:90%;
}

.left-panel{
    position:relative;
    float:left;
    width:60%;

    background-color: white;
    padding:1%;
    margin:1% 0 2% 0;
    
  border: 1px solid #BFBFBF;
  box-shadow: 10px 10px 5px #aaaaaa;

}

.right-panel{
   /*
    position:relative;
    float:left;
    */
    position:fixed;
    top:50px;
    right:50px;
    height:80%;
    width:30%;
    background-color: white;
    opacity: 0.8;

    
  border: 1px solid #BFBFBF;

  /*
  -ms-transform: rotate(1deg);
  -webkit-transform: rotate(1deg);
  transform: rotate(1deg);
  */
}


.relative{
    position:relative;
}

.float-left{
    float:left;
}

.float-right{
    float:right;
}

.width-20{
    width:20%;
}

.width-30{
    width:30%;
}

.width-40{
    width:40%;
}

.width-70{
    width:70%;
}

.width-80{
    width:80%;
}

.width-100{
    width:100%;
}

.height-80{
    height:80%;
}

.height-75{
    height:75%;
}

.height-10{
    height:10%;
}

#credit{
    left:10%;
    width:90%;
    margin:0 auto 10px auto;
}

.card-title-main{
    font-size:22px;
    font-weight: bold;
    margin:15px auto 5px auto;
}

.card-title-sub{
    font-size:14px;
    color: grey;
    margin:5px auto 5px auto;
}

.play-control{
    margin: 5px auto 0 auto;
    padding: 5px 0;
    min-height: 50px;
    background-color:silver;
}

.play-control>div>.material-icons{
    font-size:2.5em;
    padding:0.2em 0;
    margin-right: 10px;
}

.step-control>div>.material-icons{
    font-size:2.5em;
    padding:0.2em 0;
    margin-right: 10px;
}

.btn-action{
    cursor: pointer;
}

.btn-action:hover{
    color:#666;
    cursor: pointer;
}

.btn-action.pressed{
    color:#999;
}

.btn-action.pressed:hover{
    color:#999;
    cursor:default;
}

.btn-border{
    border:1px solid silver;
    background-color: white;
    padding:7px 5px 4px;
    margin:0 10px 5px 0;
    border-radius: 5px;
    max-width: 150px;
}

.btn-border.orange{
    color:darkorange;
    border-color: darkorange;
    font-weight: bold;
}

.btn-action.orange:hover{
    color:#ee7722;
    border-color: #ee7722;
    font-weight: bold;
    background-color: #fafafa;
}

.btn-action.pressed.orange{
    color:#999;
    background-color:#e6e6e6;
}

.btn-action.pressed.orange:hover{
    color:#ee7722;
    cursor:pointer;
}

.btn-border.blue{
    color:#77BBEE;
    border-color: #77BBEE;
    font-weight: bold;
}

.btn-action.blue:hover{
    color:#3388dd;
    border-color: #3388dd;
    font-weight: bold;
    background-color: #fafafa;
}

.btn-action.pressed.blue{
    color:#999;
    background-color:#e6e6e6;
}

.btn-action.pressed.blue:hover{
    color:#3388dd;
    cursor:pointer;
}

.play-control-date{
    padding:0.4em;
    margin: 0 0 0 0.5em;
    font-size:1.8em;
}

.instructions{
    padding:0.4em 1.1em;
    margin: 0.5em;
    font-size:0.9em;
}

.step-content{
    padding:0.4em 1.1em;
    margin: 0.5em;
    font-size:0.9em;
}


#page-number{
    padding:0.9em;
    margin: 0 0 0 0.5em;
    font-size:1.2em;
}
.step-control{
}

.hidden{
    display:none;
}